/*Eliminar default*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul,
ol,
li {
    list-style-type: none;
}

a{
   text-decoration: none;
}

/*CSS del index.html*/

body{
    background-image: url("../img/fondo.jpg");
    background-repeat: repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300px;
    font-style: normal;
    color:  rgb(71, 4, 4) ;
}

header{
    display: flex;
    flex-direction: column;
    background-color: rgb(206, 188, 166);
    padding: 10px 15px;
    margin-left: 8px;
}
.orden {
    display: flex;
    align-items: center;
}
.arriba {
    display: flex;
    justify-content:space-between;
    justify-content: flex-end;
    margin-bottom: 8px;
}
.arriba a {
    color: rgb(71, 4, 4) ;
    margin-left: 8px;
}
.menu {
    display: flex;
    margin: 0;
    padding: 0;
}
.menu li {
    margin-left: 20px;
}
.menu li a {
    color:rgb(71, 4, 4) ;
    background-color: rgb(216, 207, 191);
    padding: 6px 8px;
    border-radius: 20px;
}
.buscador {
    background-color:rgb(216, 207, 191);
    border-radius: 20px;
    padding: 4px 6px 4px 12px;
    display: flex;
    align-items: center;
    width: 250px;
    margin: 0px 50px;
}
.buscador input{
    background-color: transparent;
    padding: 4px;
    border: none;
}
.buscador button {
    border: none;
    background-color:rgb(244, 243, 241); ;
    border-radius: 10px;
    padding: 5px ;
    color:rgb(71, 4, 4) ;

}
.orden img {
    width: 150px;
}

main {
    display: flex;
    padding: 20px;
}

aside {
    width: 250px;
    background-color:rgb(216, 207, 191) ;
    border-radius: 0px 0px 20px 20px;
    padding: 20px 15px;
}
.categorias a {
    color:  rgb(71, 4, 4) ;
    font-size: 14px;
}
aside ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}
aside h2 {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 15px;
}

section div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

article {
    width: 17%;
    background-color:rgb(216, 207, 191) ;
    border-radius:20px ;
    padding: 15px 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    color: rgb(71, 4, 4) 
}    
article a {
    background-color: rgb(71, 4, 4)  ;
    color: #fff;
    border-radius: 5px;
    padding: 5px;
}

article img {
    width: 100%;
    max-width: 90%;
    height: 280px;
    border-radius: 10px;
    margin-bottom: 12px;
}
/*CSS del product.html*/




/*CSS del category.html*/




/*CSS del login.html*/

.header-login {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;

    padding: 10px;
}

.logo-login img {
    height: 100px;
    width: 250px;
    
}

.nav-login ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.nav-login li {
    padding: 15px 45px;
    margin: 10px 30px;

    background-color: azure;
    border-radius: 10px
}

.nav-login a {
    color: blue;
    text-decoration: none;
}

.section-login {
    background-color: #fff;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 500px;
    width: 500px;

    margin: 30px auto 50px;
}

.section-login h1 {
    padding-left: 50px;
}

.form-login {
    display: flex;
    flex-direction: column;

    padding: 10px 50px 20px;
}

.error-login {
    padding-left: 50px;
}

.checkbox-login {
    display: flex;
    flex-direction: row;

    padding: 10px 50px 20px;
}

.boton-form {
    margin: 10px 50px;
}

.footer-login {
    padding: 20px;
}


/*CSS del register.html*/
.header-register {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;

    padding: 10px;
}

.logo-register img {
    height: 100px;
    width: 250px;  
}

.nav-register ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.nav-register li {
    padding: 15px 45px;
    margin: 10px 30px;

    background-color: azure;
    border-radius: 10px
}

.nav-register a {
    color: blue;
    text-decoration: none;
}

.section-register {
    background-color: #fff;
    border-radius: 10px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;

    height: 500px;
    width: 500px;
    margin: 0 350px;
}

.form-register {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    padding: 10px 50px 20px; 
}

.checkbox-register {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    padding: 10px 50px 20px;
}

.footer-register {
    padding: 20px;
}

/*CSS del search-results.html*/