/*Eliminar default*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul,
ol,
li {
    list-style-type: none;
}

a{
   text-decoration: none;
}

/*body y header para todos los html*/

body{
    background-image: url("../img/fondo.jpg");
    background-repeat: repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300px;
    font-style: normal;
    color:  rgb(71, 4, 4) ;
}

header{
    display: flex;
    flex-direction: column;
    background-color: rgb(206, 188, 166);
    padding: 10px 15px;
    width: 100%;
}
footer {
    padding: 20px;
    background-color:  rgb(206, 188, 166);
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.abajo img {
    width: 150px;
}

.medio {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/*CSS del index.html*/
.orden {
    display: flex;
    align-items: center;
}
.arriba {
    display: flex;
    justify-content:space-between;
    justify-content: flex-end;
    margin-bottom: 8px;
}
.arriba a {
    color: rgb(71, 4, 4) ;
    margin-left: 8px;
}

.buscador {
    background-color:rgb(216, 207, 191);
    border-radius: 20px;
    padding: 4px 6px 4px 12px;
    display: flex;
    align-items: center;
    width: 250px;
    margin: 0px 50px;
}
.buscador input{
    background-color: transparent;
    padding: 4px;
    border: none;
}
.buscador button {
    border: none;
    background-color:rgb(244, 243, 241); ;
    border-radius: 10px;
    padding: 5px ;
    color:rgb(71, 4, 4) ;

}
.orden img {
    width: 150px;
}

main {
    display: flex;
    padding: 20px;
    align-items: flex-start;
}

aside {
    width: 180px;
    background-color:rgb(216, 207, 191) ;
    border-radius:20px ;
    padding: 25px 10px;
    margin: 30px 20px;
}
.categorias a {
    color:  rgb(71, 4, 4) ;
    font-size: 14px;
}
aside ul {
    display: flex;
    flex-direction: column;
}

aside h2 {
    font-size: 18px;
    margin-bottom: 15px;
}

.section-index div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.article-index {
    width: 18%;
    background-color:rgb(216, 207, 191) ;
    border-radius:20px ;
    padding: 15px 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    color: rgb(71, 4, 4) 
}    
.article-index a {
    background-color: rgb(71, 4, 4)  ;
    color: #fff;
    border-radius: 5px;
    padding: 5px;
}

.article-index img {
    width: 100%;
    max-width: 90%;
    height: 280px;
    border-radius: 10px;
    margin-bottom: 12px;
    align-self: center;
}


/*CSS del product.html*/
.main-product {
    display: flex;
    flex-direction: column;
}

.producto {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.section1-product {
    background-color: rgb(216, 207, 191) ;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
    margin: 20px;
    
}
.section1-product img {
    height: 400px;
    width: 300px;
    margin: 0 40px 0 0;
}

.infolibro {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.infolibro h1, p, h3, li{ 
    padding: 9px 0;
}

.comentarios {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px 0 0 0;

}

.comentarios article {
    background-color: rgb(247, 246, 246);
    border-radius: 10px;
    width: 360px;
    margin: 0 23px;
    border: solid 3px rgb(224, 201, 166);
    padding: 15px;
}



/*CSS del category.html*/

.section-category {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.section-category div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section-category h1 {
    margin: 20px;
}



.article-category {
    width: 30%;
    background-color: rgb(216, 207, 191);
    border-radius: 20px;
    padding: 15px;
    margin: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: rgb(71, 4, 4);
}

.article-category img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.article-category a {
    background-color: rgb(71, 4, 4);
    color: white;
    padding: 5px;
    border-radius: 5px;
}


/*CSS del login.html*/

.section-login {
    background-color: #fff;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 500px;
    width: 500px;

    margin: 30px auto 50px;
}

.section-login h1 {
    padding-left: 50px;
}

.form-login {
    display: flex;
    flex-direction: column;

    padding: 10px 50px 20px;
}

.error-login {
    padding-left: 50px;
}

.checkbox-login {
    display: flex;
    flex-direction: row;

    padding: 10px 50px 20px;
}

.boton-form {
    margin: 10px 50px;
}

/*CSS del register.html*/

.section-register {
    background-color: #fff;
    border-radius: 10px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;

    height: 500px;
    width: 500px;
    margin: 50px 350px;
}

.form-register {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    padding: 10px 50px 20px; 
}

.checkbox-register {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    padding: 10px 50px 20px;
}



/*CSS del search-results.html*/

.section-search {
    display: flex;
    flex-wrap: wrap;
}

.section-search div {
    display: flex;
    flex-wrap: wrap;
}

.section-search h2 {
    margin: 20px;
}

.section-search h3 {
    margin: 15px 0;
}

.article-search {
    width: 23%;
    background-color: rgb(216, 207, 191);
    border-radius: 20px;
    padding: 15px;
    margin: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: rgb(71, 4, 4);
}

.article-search img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.article-search a {
    background-color: rgb(71, 4, 4);
    color: white;
    padding: 5px;
    border-radius: 5px;
}


@media (max-width: 768px) {
    
    /*Responsive web design del header,aside y footer de todos los index (768px)*/
    header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .arriba {
        justify-content: center;
        margin-bottom: 10px;
    }

    .orden {
        flex-direction: column;
        align-items: center;
        
    }
    
    .menu {
        flex-wrap: wrap;
        justify-content: center;
        width: 150px;
        
    }

    .buscador {
        width: 90%;
        margin: 10px 0;
        justify-content: center;
    }

    .orden {
        width: 120px;
        margin-bottom: 10px;
    }

    footer {
        flex-direction: column;
        text-align: center;
        font-size: 14px;
    }
  
    main {
        flex-direction: column;
        align-items: center;
    }
    
    aside {
        align-items: center;
        width: 90%;
        margin: 10px 0;
        text-align: center;
    }

    /*Responsive web design del index.html (768px)*/
    
    .section-index h2 {
        text-align: center;
        margin: 5px;
    }

    .section-index div {
        justify-content: center;
    }

    .article-index {
        width: 40%;
        margin: 10px;
        align-items: center;
        text-align: center;
    }
    
    .article-index img {
        width: 100%;
        height: auto;
    }
    
    
    /*Responsive web design del product.html (768px)*/
    
    
    
    
    
    /*Responsive web design del category.html (768px)*/
    .section-category h1 {
        font-size: 28px;
        margin-bottom: 20px;
    }

    .section-category div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .article-category {
        width: 40%;
        margin: 10px;
    }

    .article-category img {
        width: 100%;
        height: auto;
    }

    /*Responsive web design del login.html (768px)*/



    /*Responsive web design del register.html (768px)*/




    /*Responsive web design del search-results.html (768px)*/
   

}

@media (max-width: 420px) {

    /*Responsive web design del header,aside y footer de todos los index (420px)*/
    header {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }

    .arriba {
        flex-direction: column;
        align-items: center;
        gap: 5px;
        margin-bottom: 10px;
    }

    .orden {
        flex-direction: column;
        align-items: center;
        
    }

    .orden img {
        width: 100px ;
        margin-bottom: 10px;
    }

    .menu {
        flex-direction: column;
        align-items: center;
        
    }

    .menu li a {
        display: block;
        width: 100%;
        text-align: center;
    }

    .buscador {
        width: 90px;
        margin: 10px 0;
        justify-content: center;
    }

    main {
        flex-direction: column;
        align-items: center;
    }

    aside {
        width: 90%;
        margin: 10px 0;
        text-align: center;
    }

    /*Responsive web design del index.html (420px)*/
    .section-index div{
        flex-direction: column;
        align-items: center;
    }

    .article-index {
        width: 85%;
        margin: 10px 0;
    }

    .article-index img {
        width: 100%;
        height: auto;
    }


    /*Responsive web design del product.html (420px)*/





    /*Responsive web design del category.html (420px)*/
    .section-category {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .section-category h1 {
        font-size: 22px;
        margin-bottom: 15px;
    }

    .section-category div {
        flex-direction: column;
        align-items: center;
        
    }

    .article-category {
        width: 85%;
        margin: 10px 0;
    }

    .article-category img {
        width: 100%;
        height: auto;
    }

    footer {
        flex-direction: column;
        text-align: center;
        font-size: 12px;
    }

    /*Responsive web design del login.html (420px)*/





   /*Responsive web design del register.html (420px)*/





   /*Responsive web design del serch-results.html (420px)*/






    






}



