/*Eliminar default*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul,
ol,
li {
    list-style-type: none;
}

a{
   text-decoration: none;
}

/*CSS del index.html*/

body{
    background-image: url("../img/fondo.jpg");
    background-repeat: repeat;
    background-position: center;

    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    width: 150px;
}

nav ul {
    display: flex;
}

main {
    display: flex;
}

aside {
    width: 250px;
}

aside ul {
    display: flex;
    flex-direction: column;
}

section div {
    display: flex;
    flex-wrap: wrap;
}

article {
    width: 30%;
}

article img {
    width: 90%;
}
/*CSS del product.html*/




/*CSS del category.html*/




/*CSS del login.html*/




/*CSS del register.html*/
.header-register {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.logo img {
    height: 100px;
    width: 250px;
    
}

.nav-register ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.nav-register li {
    background-color: azure;
    padding: 15px 45px;
    margin: 10px 30px;
    border-radius: 10px
}

.nav-register a {
    color: blue;
    text-decoration: none;
}

.section-register {
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    height: 500px;
    width: 500px;
    margin: 0 350px;
}

.form-register {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10px 50px 20px; 
}

.checkbox-register {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 10px 50px 20px;
}


/*CSS del search-results.html*/